/* DonationBlock styles */

.donationBlock {
    padding: 4rem 0.5rem;
    transition: transform 0.35s ease;
}


.textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.textContent p {
    font-size: 1rem;
    line-height: 1.6;
}

.formWrapper {
    margin: 0 auto;
    max-width: 500px;
    background-color: var(--brand-white);
    border: 1px solid var(--brand-light-gray);
}

.formContainer {
    transition: height 0.4s ease, opacity 0.3s ease;

}
