/* DonationForm styles */
.formWrapper {
    margin: 0 auto;
    max-width: 500px;
    background-color: var(--brand-white);
    border: 1px solid var(--brand-light-gray);
}

.formContainer {
    transition: height 0.4s ease, opacity 0.3s ease;

}
.formHeader {
    background-color: var(--brand-black);
    color: var(--brand-white);
    padding: 1rem;
    margin: none;
}
.formHeadline {
    padding: 0 1rem;

}
.contentWrapper {
    justify-items: center;
    padding: 0 3rem 3rem 3rem;

}


.frequencyToggle {
    margin: 2rem 0;
    align-items: center;
    justify-self: center;
    border-radius: 5px;
}
.freqButton {
    font-size: 16px;
    height: 100%;
    border: 2px solid transparent;
    color: var(--brand-black);
    padding: 0.6rem 1rem;
    text-decoration: none;
    background-color: transparent;
}


.amountGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
    justify-self: center;
}
.amountButton {
    border-radius: 5px;
    border: 2px solid var(--brand-light-gray);
    color: var(--brand-black);
    padding: 1rem;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
}
.amountInputField {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 2px solid var(--brand-light-gray);
    transition: transform 0.35s ease;
    font-size: 16px;
    font-weight: 100;
}


/* .checkboxLabel {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
    margin-top: 3px;
} */
.toggle {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0.6rem 0;
    cursor: pointer;
}
.toggle svg {
    height: 100%;
    width: 24px;
}

.actionButtonBox {
    width: 100%;
    gap: 2rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

}
.navButton {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--brand-light-gray);
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    background-color: transparent;
}

.arrow svg {
    display: flex;
    height: 100%;
    width: auto;
    padding-left: 0.5rem;
    align-self: center;
    justify-self: center;
}



/* Buttons -- active, hover, on click styling */
.freqButton,
.compactFreqButton,
.amountButton,
.compactAmountButton,
.navButton {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.selectedButton {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    box-sizing: border-box;
}

.freqButton:hover,
.freqButton.active {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);

}

.amountButton:hover,
.amountButton.active {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
}




/* Stripe checkout modal */
.modalOverlay {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.cancelButton {
    margin-top: 1rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}


/* Zeffy */
/* .zeffyContainer {
    display: flex;
    width: auto;
    height: 200px;
    background-color: transparent;
    align-items: center;
    justify-items: center;

    position: relative;
    display: inline-block;
    background: var(--brand-warm-yellow);
    color: var(--brand-black);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    transform: skew(-10.25deg);
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    min-width: 91%;
}

.zeffyButton {
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
} */

.zeffyContainer {
    background-color: transparent;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.zeffyButton {
    display: inline-block;
    color: var(--brand-white);
    background-color: var(--brand-black);
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    min-width: 150px;
    width: 200px;
    height: auto;
    transform: skew(-10.25deg);
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    /* transform: skewX(15deg); */


}


/* Stripe - Compact */

.compactFormWrapper {
    margin: 0 auto;
    max-width: 600px;
    min-width: 450px;
    /* background-color: var(--brand-white);
    border: 1px solid var(--brand-light-gray); */
}

.compactFormContainer {
    width: 100%;

}

.compactFrequencyToggle {
    display: grid;
    width: 100%;
    height: 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
    align-items: center;
    justify-self: center;
    border-radius: 5px;
}
.compactFreqButton {
    font-size: 16px;
    height: 100%;
    border: 2px solid transparent;
    color: var(--text-color);
    padding: 0.6rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.compactFreqButton:hover,
.compactFreqButton.active {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);

}

.compactAmountButton {
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    border: 2px solid;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
    padding: 1rem;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
}
.compactAmountButton:hover,
.compactAmountButton.active {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
}
.compactSelectedButton {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    box-sizing: border-box;
}
.compactAmountInputField {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid var(--brand-light-gray);
    transition: transform 0.35s ease;
    font-size: 16px;
    font-weight: 100;
}

.compactAmountGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin: 1rem 0;
    align-items: center;
    justify-self: center;
}

.compactActionButtonBox {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

}
