
.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modalContent {
    position: fixed;
    height: auto;
    z-index: 1000;
    border: 2px solid var(--brand-fuchsia);
    border-radius: 1%;
    background-color: var(--brand-creamy-beige);
    padding: 1rem;
    width: 95%;
    color: var(--brand-black)
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-bottom: 1px solid var(--brand-fuchsia);
  margin-bottom: 1rem;
  color: var(--brand-fuchsia);
}

.formSection {
    margin-bottom: 1.5rem;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.inputRowBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  font-weight: 800;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.inputRowBoxes label {
  padding: .25rem;
}

.formSection h4 {
  color: var(--brand-fuchsia);
  font-weight: 800;
}

.inputRowBoxes input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.2);
}

.inputRowBoxes input[type="checkbox"]:checked { 
  accent-color: var(--brand-fuchsia);
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-black);
}

.closeButton:hover {
  background-color: var(--brand-fuchsia);
  color: var(--brand-white);
}

