.card {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-white);
  border: 1px solid var(--brand-light-gray);
  border-radius: 16px;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  height: 100%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

a.card {
  position: relative;
  z-index: 1;
}

a.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--brand-warm-yellow);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  border-radius: 16px;
}

a.card:hover::before {
  transform: scaleX(1);
}

a.card:hover {
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 12px;
  padding: 1.5rem;
}

.imageWrapper :global(img) {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: var(--brand-black);
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--brand-black);
  margin: 0;
}


.linkText {
  position: relative;
  display: inline-block;
  background: transparent;
  color: var(--brand-black);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: 5px;
  text-align: center;
  transition: all 0.3s ease; 
}

.linkText::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--brand-aqua-teal);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

a.card:hover .linkText::after {
  width: 80%;
}
