.card {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-white);
  border: 1px solid var(--brand-light-gray);
  border-radius: 16px;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  height: 100%;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

a.card {
  position: relative;
  z-index: 1;
}

a.card:hover {
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 12px;
  padding: 1.5rem;
}

.imageWrapper :global(img) {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.noImage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: var(--brand-black);
}

.largeTitle {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--brand-black);
  margin: 0;
  margin-bottom: 1rem;
}

.largeText {
  font-size: 1.9rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.noImage .linkText {
  margin-top: auto;
}


.linkText {
  position: relative;
  display: inline-block;
  background: transparent;
  color: var(--brand-black);
  padding: 8px 20px;
  border-radius: 50px;
  border: 2px solid var(--brand-aqua-teal);
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

.linkText::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  border-radius: 20px;
  height: 2px;
  color: var(--brand-white)
}

a.card:hover .linkText {
  background: var(--brand-black);
  color: var(--brand-white);
  border-color: var(--brand-warm-yellow);
}
