.standalone {
  width: 100%;
  height:auto;
  padding: 2rem 0rem;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.7;
  color: var(--brand-black);
  background-color: none;
  box-sizing: border-box;
  margin: 2rem 0;


  .headline {
    display: inline-block;
    padding: 0.5rem 0;
    color: var(--brand-black);
    font-weight: 800;
    width: fit-content;
    margin: 0 auto;

  }
}

.nested {
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.6;
  color: var(--brand-white);
}

.emailMsg {
  font-size: large;
  font-weight: 600;
  color: var(--brand-black);
  /* border-radius: 10px; */
  /* background: var(--brand-warm-yellow); */
  /* background-color: rgba(218, 218, 218, 0.898); */
  /* letter-spacing: 2px; */
  padding: 1px 10px;
  position: relative;
  display: inline-block;
  transform: skew(-10.25deg);
  overflow: hidden;
  z-index: 1;
  text-decoration: underline;
}

.emailMsg:hover {
  /* color: var(--brand-white); */
  /* background-color: var(--brand-aqua-teal); */
  /* text-decoration-line: underline; */
}


.emailMsg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--brand-warm-yellow);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  z-index: -1;
}

.emailMsg:hover::before {
  transform: scaleX(1);
}
